# connection to magento parameters
magento-api-username=sysadmin
magento-api-password=admin123
magento-api-url=http://ceefour.annafi/demo/api/soap/

# the ID of the default attribute set in magento
default-attribute-set-id=4

# the ID of the default root category in magento
default-root-category-id=2
