<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>
  <logger name="org.apache.axiom.om.util" level="INFO" />
  <logger name="org.apache.axiom.om.impl" level="INFO" />
  <logger name="org.apache.axiom.soap.impl.llom" level="INFO" />
  <logger name="org.apache.axis2.engine" level="INFO" />
  <logger name="org.apache.axis2.context" level="INFO" />
  <logger name="org.apache.axis2.client" level="INFO" />
  <logger name="org.apache.axis2.description" level="INFO" />
  <logger name="org.apache.axis2.transport.http" level="INFO" />
</configuration>
